﻿
@{
    ViewBag.Title = "Kişi Düzenle";
}
@using AddressBook.Models
@model List<Person>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Kişi Listesi
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ad Soyad</th>
                <th>Kimlik No</th>
                <th>Telefon Numarası</th>
                <th>Adres</th>
                <th>Mail</th>
                <th>Doğum Tarihi</th>
                <th>Şirket İsmi</th>
                <th>Şirket Numarası</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Ad Soyad</th>
                <th>Kimlik No</th>
                <th>Telefon Numarası</th>
                <th>Adres</th>
                <th>Mail</th>
                <th>Doğum Tarihi</th>
                <th>Şirket İsmi</th>
                <th>Şirket Numarası</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (Person item in Model)
            {
                <tr>
                    <td>@item.Fullname</td>
                    <td>@item.IdentificationNumber</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.Email</td>
                    <td>@item.BirthDay</td>
                    <td>@item.CompanyName</td>
                    <td>@item.CompanyPhoneNumber</td>
                    <form action="\Person\PersonUpdate" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <td><input type="submit" name="name" class="btn btn-primary" value="Güncelle" /></td>
                    </form>
                    <form action="\Person\PersonDelete" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <td><input type="submit" name="name" class="btn btn-warning" value="Sil" /></td>
                        @*<td><a href="#" class="btn btn-warning perSil" data-perId="@item.Id">Sil</a></td>*@
                    </form>

                </tr>
            }
        </tbody>
    </table>

    <div class="card-footer small text-muted">Güncellenme Tarihi: @DateTime.Now</div>
</div>

@section scripts{
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script>
        $(".perSil").click(function () {
            var sonuc = confirm("d");
            var personId = $(this).data("perId");
            $.ajax({
                type: "POST",
                url: "/Person/PersonDelete/" + personId,
                success: function () {
                    window.location.replace("/Person/PersonEdit");
                }
            });
        });
    </script>
}




