﻿
@{
    ViewBag.Title = "Kişi Güncelle";
}
@using AddressBook.Models
@model Person

<div class="card card-register mx-auto mt-lg-0  ">
    <div class="card-header">Kişiyi Güncelle</div>
    <div class="card-body">
        <form action="/Person/PersonUpdateConfirm" method="post" role="form">
            <div class="form-group">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="userName">Ad Soyad</label>
                            <input name="Fullname" class="form-control" id="userName" type="text" aria-describedby="userNameHelp" value="@Model.Fullname">
                        </div>
                        <div class="col-md-6">
                            <label for="identy">Kimlik No</label>
                            <input name="IdentificationNumber" class="form-control" id="identyNumbe" type="number" aria-describedby="identyHelp" value="@Model.IdentificationNumber">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">

                        <div class="col-md-6">
                            <label for="PhoneNumber">Telefon Numarası</label>
                            <input name="PhoneNumber" class="form-control" id="PhoneNumber" type="number" aria-describedby="phoneHelp" value="@Model.PhoneNumber">
                        </div>
                        <div class="col-md-6">
                            <label for="birthDay">Doğum Tarihi</label>
                            <input name="BirthDay" class="form-control" id="addrbirthDayess" type="date" aria-describedby="phoneHelp"  value=" @Model.BirthDay">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="Email">Mail</label>
                            <input name="Email" class="form-control" id="Email" type="email" aria-describedby="emailHelp" value="@Model.Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="address">Adres</label>
                            <input name="Address" class="form-control" id="address" type="text" value="@Model.Address">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="companyName">Şirket Adı</label>
                            <input name="CompanyName" class="form-control" id="companyName" type="text" value="@Model.CompanyName">
                        </div>
                        <div class="col-md-6">
                            <label for="companyPhoneNumber">Şirket Telefonu</label>
                            <input name="CompanyPhoneNumber" class="form-control" id="companyPhoneNumber" type="number" value="@Model.CompanyPhoneNumber">
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-primary btn-block"> Güncelle</button>

        </form>

    </div>
</div>


