﻿
@{
    ViewBag.Title = "Anasayfa";
}
@using AddressBook.Models
@model IEnumerable<Person>
<!DOCTYPE html>

<html>
<body>
    <table>
        <tr>
            <td>
                @using (Html.BeginForm("DownloadCsv", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="submit" value="CSV AL" class="btn btn-secondary" />

                }
            </td>
            <td>
                @using (Html.BeginForm("ExportListFromTsv", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="submit" value="EXCEL AL" class="btn btn-secondary" />

                }
            </td>
            <td>
                @using (Html.BeginForm("ExportToWord", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <input type="submit" value="WORD AL" class="btn btn-secondary" />

                }
            </td>
        </tr>
    </table>
    @if (Model.Count() > 0)
    {
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Kişi Listesi
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Kimlik No</th>
                        <th>Telefon Numarası</th>
                        <th>Doğum Tarihi</th>
                        <th>Adres</th>
                        <th>Mail</th>
                        <th>Şirket İsmi</th>
                        <th>Şirket Numarası</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Kimlik No</th>
                        <th>Telefon Numarası</th>
                        <th>Doğum Tarihi</th>
                        <th>Adres</th>
                        <th>Mail</th>
                        <th>Şirket İsmi</th>
                        <th>Şirket Numarası</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (Person item in Model)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.IdentificationNumber</td>
                            <td>@item.PhoneNumber</td>
                            <td>@Convert.ToDateTime(item.BirthDay).ToShortDateString()</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.CompanyName</td>
                            <td>@item.CompanyPhoneNumber</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="card-footer small text-muted">Güncellenme Tarihi: @DateTime.Now</div>
        </div>

    }
</body>
</html>