﻿@{

    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Giriş Yap</title>
    <!-- Bootstrap core CSS-->
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Giriş Yap</div>
            <div class="card-body">
                <form action="/User/Login" method="post">
                    <div class="form-group">
                        <label for="inputUserName">Kullanıcı Adı</label>
                        <input name="UserName" class="form-control" id="UserName" type="text" aria-describedby="UserName" placeholder="Kullanıcı Adınızı Giriniz">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword1">Şifre</label>
                        <input name="Password" class="form-control" id="Password" type="password" placeholder="Şifrenizi Giriniz">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox"> Şifreyi Hatırla
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Giriş Yap" />
                    @{
                        if (ViewBag.Error != null)
                        {
                            <label style="color:red">@ViewBag.Error</label>
                        }
                    }

                </form>
                <div class="text-center">
                    <a  class="d-block small mt-3" href="/User/Register">Yeni Kayıt Oluştur</a>
                    @*<a class="d-block small" href="forgot-password.html">Şifremi Unuttum</a>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/Content/vendor/jquery/jquery.min.js"></script>
    <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
