﻿
@{
    ViewBag.Title = "Kullanıcılar";
}

@using AddressBook.Models
@model List<Users>
<!DOCTYPE html>

<html>
<body>
    <table>

        <tr>
            <td>
                <div>
                    @using (Html.BeginForm("UsersListName", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <input type="submit" value="Ad'a Göre Sıralama" class="btn btn-secondary " />

                    }

                </div>
            </td>
            <td>
                <div>
                    @using (Html.BeginForm("UsersListSurname", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                        <input type="submit" value="Soyad'a Göre Sıralama" class="btn btn-secondary" />

                    }

                </div>
            </td>
    </table>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Kullanıcıların Listesi
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (Users item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.SurName</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="card-footer small text-muted">Güncellenme Tarihi: @DateTime.Now</div>
    </div>

</body>
</html>
